<div class="container mx-auto">
  <h2 class="text-2xl font-bold mb-4 text-center p-6">Employee Details</h2>
  <div class="overflow-x-auto">
    <table class="min-w-full">
      <thead>
        <tr class="text-center">
          <th class="px-4 py-2 border border-gray-300 rounded-lg p-6">ID</th>
          <th class="px-4 py-2 border border-gray-300 rounded-lg p-6">First Name</th>
          <th class="px-4 py-2 border border-gray-300 rounded-lg p-6">Last Name</th>
          <th class="px-4 py-2 border border-gray-300 rounded-lg p-6">Email</th>
          <th class="px-4 py-2 border border-gray-300 rounded-lg p-6">Date of Birth</th>
          <th class="px-4 py-2 border border-gray-300 rounded-lg p-6">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees" class="text-center">
          <td class="border px-4 py-2">{{ employee.id }}</td>
          <td class="border px-4 py-2">{{ employee.FirstName }}</td>
          <td class="border px-4 py-2">{{ employee.LastName }}</td>
          <td class="border px-4 py-2">{{ employee.Email }}</td>
          <td class="border px-4 py-2">
            {{ employee.DOB | date: 'yyyy-MM-dd' }}
          </td>
          <div class="flex">
            <div class="w-1/2 border p-4">
              <button
                (click)="editEmployee.emit(employee)"
                class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
              >
                Edit
              </button>
            </div>
            <div class="w-1/2 border p-4">
              <button
                (click)="deleteEmployee.emit(employee.id)"
                class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
              >
                Delete
              </button>
            </div>
          </div>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="employees.length === 0" class="container mx-auto">
  <p class="text-lg">No employee data available.</p>
</div>
