<div class="max-h-screen overflow-y-auto">
  <form [formGroup]="employeeForm" class="w-full" (ngSubmit)="onSave()">
  <div class="border border-gray-300 rounded-lg p-6">
    <div>
      <input
        type="text"
        class="border border-gray-300 rounded-md px-4 py-2 mb-4 focus:outline-none focus:border-blue-500 block w-full"
        placeholder="First Name"
        formControlName="FirstName"
      />
      <div
        *ngIf="
          employeeForm.get('FirstName')?.hasError('required') &&
          employeeForm.get('FirstName')?.touched
        "
      >
        <div class="form-error">FirstName is required</div>
      </div>
    </div>

    <div>
      <input
        type="text"
        class="border border-gray-300 rounded-md px-4 py-2 mb-4 focus:outline-none focus:border-blue-500 block w-full"
        placeholder="Last Name"
        formControlName="LastName"
      />
      <div
        *ngIf="
          employeeForm.get('LastName')?.hasError('required') &&
          employeeForm.get('LastName')?.touched
        "
      >
        <div class="form-error">LastName is required</div>
      </div>
    </div>

    <div>
      <input
        type="email"
        class="border rounded-md px-4 py-2 mb-4 focus:outline-none focus:border-blue-500 block w-full"
        placeholder="Email"
        formControlName="Email"
      />
      <div *ngIf="employeeForm.get('Email')?.touched">
        <div
          *ngIf="employeeForm.get('Email')?.hasError('required')"
          class="form-error"
        >
          Email is required
        </div>
        <div
          *ngIf="employeeForm.get('Email')?.hasError('email')"
          class="form-error"
        >
          Email is invalid
        </div>
      </div>
    </div>

    <div>
      <input
        type="date"
        class="border border-gray-300 rounded-md px-4 py-2 mb-4 focus:outline-none focus:border-blue-500 block w-full"
        placeholder="Date of Birth"
        formControlName="DOB"
      />
      <div
        *ngIf="
          employeeForm.get('DOB')?.hasError('required') &&
          employeeForm.get('DOB')?.touched
        "
      >
        <div class="form-error">Date of Birth is required</div>
      </div>
    </div>

    <div class="form-group">
      <input [type]="passwordInputType"
        placeholder="Enter your password" />
      <span class="eyeicon fa" (click)="togglePassword()">
        <i [class]="passwordInputType === 'text' ? 'fa-eye' : 'fa-eye-slash'"></i>
      </span>
    </div>

    <div class="flex justify-end px-0">
      <button
        type="submit"
        class="text-white bg-blue-500 hover:bg-blue-600 focus:outline-none font-medium rounded-full px-6 py-3 text-center mt-5"
        >Save
      </button>
    </div>
  </div>
</form> 

<div>
  <p> Full Name from form: {{ fullName }} </p>
</div>

    <input
        [(ngModel)]="firstName"
        (ngModelChange)="generateFullNameFromNgModel()"
        type="text"
        class="border border-gray-300 rounded-md px-4 py-2 mb-4 focus:outline-none focus:border-blue-500 block w-full"
        placeholder="First Name"
      />

    <input
        [(ngModel)]="lastName"
        (ngModelChange)="generateFullNameFromNgModel()"
        type="text"
        class="border border-gray-300 rounded-md px-4 py-2 mb-4 focus:outline-none focus:border-blue-500 block w-full"
        placeholder="Last Name"
      />

      <div>
        Full Name from model: {{ fullName }}
      </div>

     <input
        [(ngModel)]="firstNameSignal"
        type="text"
        class="border border-gray-300 rounded-md px-4 py-2 mb-4 focus:outline-none focus:border-blue-500 block w-full"
        placeholder="First Name"
      />

    <input
        [(ngModel)]="lastNameSignal"
        type="text"
        class="border border-gray-300 rounded-md px-4 py-2 mb-4 focus:outline-none focus:border-blue-500 block w-full"
        placeholder="Last Name" 
        />

    <div>
      Full Name from signal: {{ fullNameSignal() }}
    </div>


    <table class="table">
      <thead>
          <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Full Name</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>
                  {{ first_name() }}
              </td>
              <td>
                  {{ last_name() }}
              </td>
              <td>
                  {{ full_name() }}
              </td>
          </tr>
          <tr>
              <td>
                  <div class="input-group mb-3">
                      <input type="text" class="form-control" [value]="first_name()" #fname placeholder="Change First Name">
                      <button (click)="changeFirstName(fname.value)" class="btn btn-outline-primary" type="button">
                          Change First Name
                      </button>
                  </div>
              </td>
              <td>
                  <div class="input-group mb-3">
                      <input type="text" class="form-control" [value]="last_name()" #lname placeholder="Change Last Name">
                      <button (click)="changeLastName(lname.value)" class="btn btn-outline-primary" type="button">
                          Change Last Name
                      </button>
                  </div>
              </td>
              <td>
              </td>
          </tr>
      </tbody>
  </table>
</div>


