<div class="max-h-screen overflow-y-auto">
  <form [formGroup]="tableForm" class="w-full" (ngSubmit)="onSave()">
    <div class="border border-gray-300 rounded-lg p-6">
      <div class="mb-4">
        <input
          type="text"
          class="border border-gray-300 rounded-md px-4 py-2 mb-1 focus:outline-none focus:border-blue-500 block w-full"
          placeholder="First Name"
          formControlName="FirstName"
        />
        @if(tableForm.get('FirstName')?.hasError('required') && tableForm.get('FirstName')?.touched){
          <div class="form-error">First Name is required</div>
        }
      </div>

      <div class="mb-4">
        <input
          type="text"
          class="border border-gray-300 rounded-md px-4 py-2 mb-1 focus:outline-none focus:border-blue-500 block w-full"
          placeholder="Last Name"
          formControlName="LastName"
        />
        @if(tableForm.get('LastName')?.hasError('required') && tableForm.get('LastName')?.touched){
          <div class="form-error">Last Name is required</div>
        }
      </div>

      <div class="mb-4">
        <input
          type="email"
          class="border rounded-md px-4 py-2 mb-1 focus:outline-none focus:border-blue-500 block w-full"
          placeholder="Email"
          formControlName="Email"
        />
        @if(tableForm.get('Email')?.touched){
          @if(tableForm.get('Email')?.hasError('required')){
            <div class="form-error">Email is required</div>
          }
          @if(tableForm.get('Email')?.hasError('email')){
            <div class="form-error">Email is invalid</div>
          }
        }
      </div>

      <div class="mb-4">
        <input
          type="date"
          class="border border-gray-300 rounded-md px-4 py-2 mb-1 focus:outline-none focus:border-blue-500 block w-full"
          placeholder="Date of Birth"
          formControlName="DOB"
        />
        @if(tableForm.get('DOB')?.hasError('required') && tableForm.get('DOB')?.touched){
          <div class="form-error">Date of Birth is required</div>
        }
      </div>

      <div class="form-group mb-4">
        <input [type]="passwordInputType" placeholder="Enter your password" class="border border-gray-300 rounded-md px-4 py-2 mb-1 focus:outline-none focus:border-blue-500 block w-full"/>
        <span class="eyeicon fa" (click)="togglePassword()">
          <i [class]="passwordInputType === 'text' ? 'fa-eye' : 'fa-eye-slash'"></i>
        </span>
      </div>

      <div class="flex justify-end px-0">
        <button
          type="submit"
          class="text-white bg-blue-500 hover:bg-blue-600 focus:outline-none font-medium rounded-full px-6 py-3 text-center mt-5"
        >
          {{employeeId() ? 'Update' : 'Save'}}
        </button>
      </div>
    </div>
  </form>
</div>
